// Variable Template
$main-body-color: #f9f9f9;
$main-theme-color: #2d8b80;
$main-space:15px;
$main-space-layout:20px;
$main-browserContext:16px;
$main-browserContext--calc:18px;
$main-link-color: $main-theme-color;
$main-content-width :1024px;
$main-radius: 5px;
$card-padding: 8px;
$title-padding: 10px;
// Text
$main-font-name: sans-serif;
$main-font-color: #2d8b80;
$lighten-font-color: #f9f9f9;
$darken-font-color: #000;
// icons
$main-iconFont-color: #2f679e;
$main-iconFont-name: 'dtIconFont-linear';
// Template
$main-header-height: 60px;
$main-header-bg-color:#f7f7f7;
$main-header-logo-height: $main-header-height - 10px;
